numpy
opencv-python
pillow
scikit-image
onnx
protobuf
psutil
onnxruntime-gpu==1.22.0
packaging
PySide6
kornia
tqdm
ftfy
regex
pyvirtualcam
numexpr
onnxsim==0.4.36
requests
pyqt-toast-notification
qdarkstyle
pyqtdarktheme
omegaconf
einops
lightning
send2trash
